/* --------bg img---------*/
.bg-img{
    background-image: url("../img/bg-img.jpeg");
    height: 588px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 49px;
}
.bg-img-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
    font-family: 'open sans', sans-serif;
    text-transform: uppercase;
    margin: auto;
    padding-top: 106px;
    text-align: center;
}
.line{
    width: 60px;
    height: 3px;
    margin: 87px auto 0;
    background: #18b4cf;
}
.bg-img-logo{
    margin: auto;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.bg-img-logo-item{
    padding: 106px 0;
}
.img-line{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 13.7%));
    padding-bottom: 49px;
}
/*-------------news----------*/
.container-news{
    display: inline-grid;
    padding: 0 373px;
    margin-bottom: 106px;
}
.news{
    display: grid;
    grid-row-gap: 42px;
}

.news-title-style{
    /*grid-area: h6;*/
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    font-family: 'Open Sans', sans-serif;
}
.news-text-style{
    /*grid-area: p;*/
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    font-family: 'Open Sans', sans-serif;
}
.news-text{
    text-align: right;
    padding: 0 20px;
}
.div-area{
    grid-area: div;
}
.img-area{
    grid-area: img;
}
/*----news header-footer---*/
.news-header-footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px ;
}
.news-content-header-more{
    width: 856px;
    height: 259px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #f9f7f7;
grid-template-areas:
"img div"
}
.news-title-header-footer{
    text-align: right;
    padding: 40px 20px 10px 0;
}
.news-content-header-less{
    width: 277px;
    height: 258px;
    background: #f9f7f7;
}
.news-title-header-footer-less{
    text-align: center;
    padding-top: 5px;
}
/*--- news body---*/
.news-body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px 60px;
}
.news-body-content{
    background: #f9f7f7;
    width: 554px;
    height: 418px;
}
.news-title-body{
    text-align: right;
    padding: 5px 20px;
}
/*footer*/
footer{
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: baseline;
}


.footer-text{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 30px 367px;
}
.footer-img{
    background-image: url("../img/Vector-Smart-Object-copy-3.png");
    width: 38px;
    height: 24px;
}
.footer-logo {
    background-image: url("../img/Vector-Smart-Object.png");
    width: 64px;
    height: 16px;
}










