
/*            navbar         */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #313131
}
.navbar__logo{
    background-image: url("../img/logo.png");
    width: 27px;
    height: 27px;
    margin: 22px 27px;
}
.navbar__content{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 83px;
}
.navbar__list{
    display: flex;

}
.navbar_list__item{
    margin: 0 17px;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.navbar_list__item:hover{
    color: #14B9D5;
}
.navbar-search__bg{
    background: #000000;
    width: 68px;
    height: 70px;
}
.navbar-search__img{
    background-image: url("../img/fa-search.png");
    width: 17px;
    height: 17px;
    margin: 27px 26px;
}
/* -----------header bg------------*/
.header-bg{
    background-image: url("../img/header-background.png");
    height: 369px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.header-bg__content{
    display: flex;
    justify-content: center;
    padding-top: 164px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}
.header-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 44px;
}
.header-btn-left{
    background: #89CA62;
}
.header-btn-right{
    background: #14B9D5;
}
.header-btn>a{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 19px;
    margin: 0 10px;
    border-radius: 4px;
}
/* -----------section1------------*/
.container{
    padding-top: 49px;
    background: #F2F2F2;
}
.container-popular-posts{

}
.title{
    text-align: center;
    margin-bottom: 52px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}
.popular-posts{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #F2F2F2;
    margin: 0 auto;
    padding-bottom: 72px;
}
.popular-posts-content{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    font-family: 'Open Sans', sans-serif;
    background: #FFFFFF;
    padding: 20px 29px;
}
.popular-posts-post{
    margin: 15px;
    width: 370px;
}




